*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#fff;
color:#111;
}

header{
background:black;
color:white;
padding:20px;
text-align:center;
}

nav ul{
list-style:none;
display:flex;
justify-content:center;
gap:20px;
margin-top:15px;
flex-wrap:wrap;
}

nav a{
color:white;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:gold;
}

.banner{
    background-position: top center;
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:#222;
color:white;
background: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)
), url('imagens/banner.jpg');
}

.banner button{
padding:15px 30px;
margin-top:20px;
background:red;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

.titulo{
text-align:center;
margin:30px 0;
}

.produtos{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:20px;
}

.produto{
border:1px solid #ddd;
border-radius:10px;
text-align:center;
overflow:hidden;
}

.produto img{
width:100%;
height:300px;
object-fit:cover;
}

.produto button{
margin:10px;
padding:10px 20px;
background:black;
color:white;
border:none;
cursor:pointer;
}

.produto button:hover{
background:red;
}

.carrinho{
background:#f4f4f4;
text-align:center;
padding:40px;
}

.carrinho button{
padding:10px 20px;
margin-top:15px;
background:black;
color:white;
border:none;
cursor:pointer;
}

.contato{
text-align:center;
padding:40px;
}

.contato a{
display:inline-block;
margin:10px;
padding:10px 20px;
background:black;
color:white;
text-decoration:none;
border-radius:5px;
}

footer{
background:black;
color:white;
text-align:center;
padding:20px;
}